<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <style>
        body { 
            font-family: Arial; 
            max-width: 800px; 
            margin: 50px auto; 
            padding: 20px; 
        }
        .btn { 
            background: #dc3545; 
            color: white; 
            padding: 10px 20px; 
            text-decoration: none; 
            border-radius: 3px; 
        }
        .btn:hover {
            background: #c82333;
        }
    </style>
</head>
<body>
    <h1>Лабораторная работа №4</h1>
    <h2>Аутентификация и авторизация на Flask</h2>
    <p>Добро пожаловать, {{ current_user.name }}!</p>
    <a href="{{ url_for('logout') }}" class="btn">Выход</a>
</body>
</html>